<!--form de para obtener la contrasena-->
<div class="container">
  <h1 class="generate">
    <strong>Generador de Contraseñas</strong>
  </h1>

  <form [formGroup]="formContrasena" (ngSubmit)="generatepassword()">
    <div class="form-floating mb-3">
      <input formControlName="cant" type="number" class="form-control" id="floatingInput" >
      <label for="floatingInput"> Digite la cantidad de caracteres que desea que tenga la contrasena:</label>
    </div>

    <div class="container-text">
    <label class="adjustable-text">Desea que excluir numeros:</label>
    <mat-slide-toggle color="primary" formControlName="numbers"></mat-slide-toggle>
    

    <label class="adjustable-text">Desea que excluir caracteres especiales:</label>
    <mat-slide-toggle color="primary" formControlName="charspecials"></mat-slide-toggle>
    
  </div>
    <button class="button-class" type="submit" [disabled]="formContrasena.invalid"> Generar</button>
  </form>

  <!--valida si la contrasena esta vacio para mostrar el mensaje-->
  <div *ngIf="Contrasena != ''">
    <h3>la contrasena es: <span>{{Contrasena}}</span></h3>
  </div>
</div>
