<!--form de para obtener la contrasena-->
<div class="container mobile-container">
  <h1 class="generate">
    <strong>Generador de Contraseñas</strong>
  </h1>

  <form [formGroup]="formContrasena" (ngSubmit)="generatepassword()">
      <div *ngIf="isMobile === true">
        <mat-form-field  class="mat-form-field" appearance="outline"> 
         <mat-label>Digite la cantidad de caracteres</mat-label>
         <input (input)="onInputChange($event)" type="number" formControlName="cant" matInput /> 
      </mat-form-field>
      </div>
      <div *ngIf="isMobile === false">
        <mat-form-field  class="mat-form-field" appearance="outline"> 
        <mat-label>Digite la cantidad de caracteres que desea que tenga la contraseña. La cantidad máxima es 50 y la minima es 0</mat-label>
        <input (input)="onInputChange($event)" type="number" formControlName="cant" matInput /> 
      </mat-form-field>
      </div>
    <br>
    <div class="container-text">
    <label class="adjustable-text">Desea que incluir números</label>
    <br>
    <mat-slide-toggle id="StateNumber" (click)="MessageToogle()" color="primary" formControlName="numbers"></mat-slide-toggle>
    <br>
    <br>
    <label class="adjustable-text">Desea incluir caracteres especiales</label>
    <br>
    <mat-slide-toggle (click)="MessageToogleSpecial()" color="primary" formControlName="charspecials"></mat-slide-toggle>
    <br>
    <br>
  </div>
    <button id="idbuttom" class="button-class" type="submit" [disabled]="formContrasena.invalid || mostrarModalMessage || mostrarModal"> Generar</button>
  </form>

</div>


<!-- Contenido del modal -->
<ng-container *ngIf="mostrarModal" class="mobile-container">
  <div class="modal-container1">
    <div class="copy-text">
      <mat-icon mat-raised-button matTooltip="Copiar contraseña" (click)="copyText()" class="material-icons">content_copy</mat-icon>
    </div>
    <div class="container-text">
      <h2 class="text-message"> {{Message}} 
        <div class="scroltext">
          <span>{{Contrasena}}</span>
        </div>
      </h2>
      </div>
    <div>
    
      <button class="button-classModal" (click)="closeModal()">Cerrar</button>
    </div>
  </div>
</ng-container>

<!-- Contenido del modal -->
<ng-container *ngIf="mostrarModalMessage" class="mobile-container">
  <div class="modal-container">
    <div class="container-text">
      <h2 class="text-message"> {{Message}} 
      </h2>
      </div>
    <div>
      <button class="button-classModal" (click)="closeModaltoogle()">Cerrar</button>
    </div>
  </div>
</ng-container>