:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Establece la altura del componente al 100% de la altura de la ventana */
  }
  
  .container {
    background-color: white;
    width: 50%;
    text-align: center;
    padding: 20px;
    border: 4px solid #002758;
    border-radius: 10px;
    /* Otros estilos que desees aplicar */
  }
  
  .generate {
    color: #002758;
    text-align: center;
    font-size: 30px;
    font-size: 3vw;
    flex: auto;
  }
  
  .container-text {
    text-align: center;
  }
  
  .adjustable-text {
    color: #002758;
    text-align: center;
    font-size: 2vw; /* Ajustado al ancho de la ventana */
    max-width: 20em; /* Evitar que el texto crezca demasiado en pantallas grandes */
    margin: 0 auto; /* Centrar el texto horizontalmente */
  }
  
  .button-class {
    width: 50px; /* Puedes ajustar el tamaño según tus necesidades */
    height: 50px; /* Asegúrate de que la altura sea igual al ancho para que sea un círculo */
    border-radius: 50%; /* Establece las esquinas redondeadas al 50% para hacer un círculo */
    border: none; /* Elimina el borde para que sea completamente redondo */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    background: #46863c;
    border-color: #46863c;
    font-size: 16px;
    line-height: 24px;
    border-radius: 30px;
    font-family: Manrope,sans-serif;
    min-width: 176px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    font-weight: 700;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .button-class:disabled {
    background-color: #ccc; /* Color de fondo cuando está deshabilitado */
    color: #666; /* Color del texto cuando está deshabilitado */
  }

  .mat-form-field {
    width: 100%;
  }
  
  
  