/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #f8f9fa; }

.mat-mdc-snack-bar-container {
    &.blue-snackbar {
      --mdc-snackbar-container-color: #fff;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #002758;
      --mdc-snackbar-supporting-action-color: #002758;
      
    }
  }

